html, body{
    height: 100%;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    border: none;
    background: linear-gradient(180deg, rgba(9,35,175,1) 0%, rgba(0,0,0,1) 100%);
    color: white;
}

button{
    height: 50px;
    background:#1646a0;
    color: white;
    padding: 0 45px;
    border: 2px solid #fff;
    border-radius: 25px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
}

button:hover{
    background: #0923af;
}