*{
  margin: 0px;
  padding: 0px;
}

.App {
  text-align: center;
}

.botao{
  padding: 5px;
  margin: 10px;
}

.header{
  width: 800px;
  margin-left: 400px;
  padding: 5px;
  display: inline-block;
  background-color: darkcyan;
}

h1{
  color: white;
  text-align: center;
}