@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgb(95, 95, 95); 
}

header{
    width: 100%;
    margin: auto;
    background-color: gray;
}

main{
    width: 90%;
    margin: auto;
    background-color: white;
    padding: 10px;
    margin-top:10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

h1{
    text-align: center;
    padding: 10px;
}


li{
    background-color: rgb(71, 71, 71);
    list-style-type: none;
}

a{
    padding: 10px;
    display: block;
    text-align: center;
    color: rgb(214, 212, 212);
    font-weight: bold;
    text-decoration: none;
    border-bottom: 0.1px solid white;
}

a:hover{
    background-color: rgb(180, 179, 179);
    color: white;
}

p{
    text-indent: 30px;
    text-align: justify;
    margin-bottom: 10px;
}

i#burguer{
    display: block;
    padding: 10px;
    background-color: white;
    text-align: center;
}

i#burguer:hover{
    background-color: rgb(49, 49, 49);
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

menu{
    display: none;
}

@media screen and (min-width:768px){
    i#burguer{
        display: none;
    }

    menu{
        display:block;
    }

    menu > ul > li{
        display: inline-block;
    }

}