.cabecalho-nav {
    display: flex;
    gap: 0.5rem; /* Espaçamento entre os itens */
    list-style: none;
    padding: 0;
    padding-right: 20px;
    margin: 0;
}

.cabecalho-nav button {
    text-decoration: none;
    color: black;
    background-color: rgb(255, 255, 255);
    font-size: 0.8em;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: none;
    transition: background-color 0.2s ease-in-out;
}

.cabecalho-nav button{
    padding: 10px;
}

.cabecalho-nav button:hover {
    background-color: rgba(0, 0, 0, 0.08); /* Escurece levemente o fundo amarelo do cabeçalho */
}