@charset "UFT-8";

*{
    margin: 0px;
    padding: 0px;
}

/*
    LEMBRETE:
    grid-track: linha ou coluna inteira
    grid-lines: linhas de divisão 
    grid-area: área que será ocupada
    gap: espaçamento
*/

.container{ /* DIV PAI */
    background-image: url(../imagens/fundo2.jpg);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 200px 200px 150px 80px ;
    /*grid-auto-rows: 200px*/
    /*grid-gap: 10px;*/
    /*grid-column-gap:10px;*/
    /*grid-row-gap:10px;*/
    grid-template-areas: "header header header header header header header header header header header header" 
                         "aside  aside   null   null   main   main   main   main  main   main   main  main"
                         "aside  aside   null   null   main   main   main   main   main  main   main  main"
                         "footer footer footer footer footer footer footer footer footer footer footer footer";
    /* align-items: start; center, end; stretch */
    /* justify-items: start;  center, end; */
}

/* FILHOS */
.header{
    /*grid-column: 1 / 6;*/
    border: 1px solid green;
    grid-area: header;
    /*justify-self: center;
    align-self: center;*/
    background-color: green;
}

.main{
    /*grid-column: 4 / 6;*/
    /*grid-row: 2 / 4 */
    grid-area: main;
    border: 1px solid red;
    background-color: aqua;
    color: black;
}

.aside{
    /*justify-self: center;
    align-self: center;*/
    /*grid-column: 1 / 2; */
    grid-area: aside;  
    border: 1px solid blue;
    background-color: blue;
}

.footer{
    /*grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 6 ;*/
    grid-area: footer;
    display: grid;
    border: 1px solid black;
    background-color: black;
}

/* justify-self:
align-self: */

h1, p{
    padding: 10px;
    color: white;
}