@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Sour Gummy", sans-serif;
}

header{
    width: 200px;
    margin: auto;
    font-size: 25px;
}


.container{
    /*background-color: gray;*/
    width: 100vw;
    display: flex;
    background-image: url(../Imagens/background.jpg);
}

.containerlateral{
    margin:10px;
    display: flex;
    flex-direction: column; /*row-reverse column column-reverse EX1 */
    flex-wrap: nowrap; /*wrap wrap-reverse nowrap*/
    /* flex-flow: row nowrap; */
    justify-content: flex-start; /* flex-end center space-between space-around Hori */ 
    /* align-items: center; /*stretch center flex-start flex-end baseline  Vertical*/
    width: 15vw;
    border: none;
}

.textolateral{
    color: white;
    padding: 5px;
}

.itens{
    text-align: center;
    /*flex-grow:3;*/
    /*flex-shrink:5;*/
    /*flex-basis:auto;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgmenu{
    width: 50px;
    height: 50px;
    border-radius: 150px;
    margin: 3px;
}

.itens:hover{
    opacity: 50%;
}

section:hover{
    opacity: 100%;
    filter:grayscale(0);
}

main{
    border-radius: 5px;
    display: flex;
    flex-flow: row wrap;
    margin: 10px;
    max-width: 75vw;
    /*background-color: rgb(56, 54, 54);*/
    justify-content: space-around;
}

section{
    opacity: 70%;
    filter:grayscale(100%);
    border-radius: 5px;
    margin: 5px;
    width: 200px;
    height: 260px;
    background-color: white;
    display: flex ;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

section>p{
    padding: 5px;
}

.imgconteudo{
    border-radius: 5px;
    width: 180px;
}

footer{
    background-color: rgb(16, 15, 15);
    color: white;
    text-align: right;
}

@media screen and (min-width:100px) and (max-width:1000px){
    .textolateral{display:none}
}

@media screen and (min-width:100px) and (max-width:558px){
    section{width: 98%;}
}