*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: rgb(14, 13, 13);
    height: 100px;
    position: sticky;
    top: 0px;
}

main{
    height: 2000px;
    background-color: rgb(52, 119, 206);
    text-align: center;
    color: white;
}

h1, p{ padding: 10px;}

footer{
    background-color: rgb(15, 15, 15);
    height: 100px;
}

.redes{
    position: fixed;
    top: 110px;
    right:10px;
    width: 100px;
    height: 200px;
    background-color: red;
}