*{
    margin: 0px;
    padding: 0px;
}

.container{
    background-color: gray;
    display: flex;
    /*flex-direction: column; /*row-reverse column column-reverse EX1 */
    /*flex-wrap: wrap; /*wrap wrap-reverse nowrap*/
    flex-flow: row wrap;
    justify-content: center; /* flex-end center space-between space-around Hori */ 
    align-items: center; /*stretch center flex-start flex-end baseline  Vertical*/
}

.itens{
    background-color: white;
    border: 0.1px solid gray;
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 150px;
    height: 100px;
    /*align-self: center;
    justify-self:center;
    flex:auto;
    flex-grow:1;
    flex-shrink:5;
    flex-basis:auto;*/
}

.ordem1{order: 6;}
.ordem2{order: 2;}
.ordem3{order: 3;}
.ordem4{order: 4;}
.ordem5{order: 5;}
.ordem6{order: 1;}
.ordem7{order: 7;}