@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url(../imagens/imagens/fundo-madeira.jpg);
    background-size: cover;
}

main{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../Imagens/imagens/frame-iphone.png);
    background-size:cover ;
    height: 640px;
    width: 317px;
    z-index: -1;
}

section{
    width: 273px;
    height: 481px;
    margin-top: 81px;
    margin-left: 22px;
}

img{
    width: 50px;
    border-radius: 50px;
    margin: 10px;
    opacity: 60%;
}

nav{
    position: absolute;
    right: 5px;
    margin-top: 10px;
    padding: 5px;
}

img:hover {
    /*border: 1.5px solid rgb(61, 60, 60);*/
    box-shadow: 2px 2px 5px black;
    transform: scale(300%) translateX(-60%) rotate(360deg);
    opacity: 100%;
    transition: 1.0s;
    border-radius: 5px;
}

iframe{
    width: 100%;
    height: 100%;
   /* background-image: url(../Imagens/imagens/tela-home.jpg);*/
    background-size: cover;
}

/* a{
    width: 100%;
    height: 100%;
} */

/* Configurações de CSS referente as telas HOME */

.imgtela{
    width: 100%;
    border-radius: 0px;
    margin: 0px;
    margin-bottom: -4px;
    padding: 0px;
    opacity: 100%;
}

.imgtela:hover{
    border: none;
    box-shadow: none;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.bodytela{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    background-image: none;
    background-size: none;
}

p{
    margin-top: -4px;
    display: block;
    background-color: red;
    color: white;
    height: 50px;
    text-align: center;
    font-weight: bold;
}

.link:visited{
    color: white;
    text-decoration: none;
}

.link:active{
    color: white;
    text-decoration: none;
}