*{
    margin:0px;
    padding:0px;
    box-sizing: none;
}

body{
    background-color: #5270a1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    align-items: center;
}


.container{
    width:400px;
    height:400px;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-content:flex-start;
    background-color:aliceblue;
    border-radius: 5px;
    overflow: hidden;
}

.containerRegras{
    width:400px;
    height:200px;
    background-color:white;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    border-radius:5px;
    flex-wrap: wrap;
}

h1{
    text-align: center;
    width: 100%;
    background-color: #456292;
    color:white;
    padding: 10px;
}

h2, .azul{
    color: #5270a1;
}

.divnivel{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #5270a1;
    width: 100%;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

#nivel{
    background-color: #5270a1;
    color:white;
    width: 40px;
    text-align: center;
    border-radius:5px;
    font-size:20px;
    cursor:pointer;
}

label{
    font-size:20px;
    color: #456292;
    display: flex;
    align-items: center;
    justify-content: center;
}


#btniniciar{
    margin: 0px 0px 0px 5px;
    height: 30px;
    width: 60px;
    border-radius:5px;
    border: 0px;
}


#formjogo, #formnivel{
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    display: none;
    border-radius: 5px;
}

#formnivel{
    display: flex;
}

#valor{
    margin-left: 5px;
    background-color: #5270a1;
    color:white;
    width: 40px;
    text-align: center;
    border-radius:5px;
    font-size:20px;
    cursor:pointer;
}

#valortentativa{
    background-color: #5270a1;
    color:white;
    width: 40px;
    text-align: center;
    border-radius:5px;
    font-size:20px;
    cursor:pointer;
}

#btnconfirmar{
    margin-left: 5px;
    height: 30px;
    width: 60px;
    border-radius:5px;
    border: 0px;
}


.white{
    color: white;
}

#divresultado{
    height: 150px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}